
.container {
  padding: 15px;
  display: flex;
  flex-direction: column;
}

.content{
  margin: auto;
}

.content .page-title{
  padding: 5px;
}

.breadcrumb-item{
  font-size: 0.8em;
}

a{
  color: black;
}

.error{
  color: lightcoral;
}

.content .card {
  margin: auto;
  padding: 7.5px;
  border: 1px solid lightgrey;
  border-radius: 5px;
  margin-bottom: 1rem;
  -webkit-box-shadow: 0px 3px 10px 2px rgba(224,220,224,1)!important;
  -moz-box-shadow: 0px 3px 10px 2px rgba(224,220,224,1)!important;
  box-shadow: 0px 3px 10px 2px rgba(224,220,224,1)!important;
}

button:disabled {
  background:lightgray!important;
  border: none;
}

.content .active{
  color: lightseagreen!important;
}

.refresh-btn{
  margin-left: 10px;
}

.btn-success{
  background: lightseagreen!important;
  border: none!important;
}


.breadcrumb-item p{
  display: inline;
}

form label{
  font-weight: 700;
}